{% load sponsorship_tags %}
{% load thumbnail %}

{% sponsor_levels as levels %}
<div id="sponsors">
<a id="prev" title="Previous" href="#">Previous</a>
<a id="next" title="Next" href="#">Next</a>
<ul class="sponsor-list">
  {% for level in levels %}
    {% for sponsor in level.sponsors %}
      <li><a href="{{ sponsor.external_url }}"><img src="{% thumbnail sponsor.website_logo '100x60' %}" alt="{{ sponsor.name }}" /></a>
          <span class="sponsor-level">{{ level.name }}</span>
      </li>
    {% endfor %}
  {% endfor %}
</ul>
</div>

