{% load i18n %}
<footer id="site-footer" class="footer clearfix">
  <div class="floatl">
  Apache, CloudStack, Apache CloudStack, and the Cloud Monkey<br />
  are trademarks or registered trademarks of the Apache Software Foundation
  </div>

  <div class="floatr">
  Web Design and Development by <a href="http://www.imagescape.com">Imaginary Landscape, LLC</a><br />
  <img id="ob-logo" src="{{ STATIC_URL }}img/openbastion.png" alt="Open Bastion Logo" />
  Produced for the CloudStack community by<br />
  <a href="http://theopenbastion.com/">The Open Bastion</a>
  </div>
</footer>
