{% extends "symposion_sidebar_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
{% load markitup_tags %}
{% load static %}

{% block viewport %}{% endblock %}

{% block style_base %}
    <link href="{% static "symposion/css/symposion.css" %}" rel="stylesheet">
    <link href="{% static "css/cloudstack.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    {% markitup_media "no-jquery" %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block topbar_base %}
    <div id="site-header" class="container-fluid">
        <header id="masthead">
            <div class="pull-right">
                <ul id="account-nav" class="nav nav-pills">
                    {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url account_login %}">Log in</a>
                        </li>
                        <li>
                            <a href="{% url account_signup %}">Sign up</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url dashboard %}">Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url account_settings %}">Settings</a>
                        </li>
                        {% if request.user.is_staff %}
                            <li>
                                <a href="{% url admin:index %}">Admin</a>
                            </li>
                        {% endif %}
                        <li>
                            <a id="logout_link" href="{% url account_logout %}" data-form-submit="#account_logout_form">Log out</a>
                        </li>
                        <form id="account_logout_form" class="hide" action="{% url account_logout %}" method="post">{% csrf_token %}</form>
                    {% endif %}
                </ul>
            </div>
            
            <h1><a href="{% url home %}"><span>Cloudstack</span> Collaboration Conference</a></h1>
            <h2><a href="{% url home %}">Jun 23-25, 2013 | Santa Clara, CA</a></h2>
        </header>
        <div class="navbar">
            <div class="navbar-inner">
                {% block topbar %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        {% block nav %}
                            {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap.html" %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_base %}
    <div id="main" class="container-fluid">
        {% include "_messages.html" %}
        
        {# {% block breadcrumbs %} #}
            {# {% sitetree_breadcrumbs from "main" %} #}
        {# {% endblock %} #}
        
        {% block body_outer %}
            <div id="content" class="row-fluid">
                <div class="span12">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <div id="post-content" class="row-fluid">
                <div class="span12">
                    {% block sidebar %}
                        {% include "_default_sidebar.html" %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% include "_footer.html" %}
{% endblock %}


{% block script_base %}
    {% analytics %}
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>

    <script type="text/javascript" language="javascript" src="{% static "js/jquery.carouFredSel-6.2.0-packed.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "js/jquery.mousewheel.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "js/jquery.touchSwipe.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "js/jquery.transit.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "js/jquery.ba-throttle-debounce.min.js" %}"></script>

    <script type="text/javascript">
        $(function() {
            $(".sponsor-list").carouFredSel({
                cookie: true,
                prev: '#prev',
                next: '#next',
                mousewheel: true,
                responsive: true,
                auto: 5000,
                prev: {
                    button: "#prev",
                    key: "left"
                },
                next: {
                    button: "#next",
                    key: "right"
                },
                items: {
                    width: 186,
                    visible: 5
                },
                swipe: {
                    onMouse: true,
                    onTouch: true
                },
                scroll: {
                    fx: "fade",
                    duration: 500,
                    pauseOnHover: true
                }
            });
            $("#logout_link").on("click", function(e) {
                var form = $($(this).data("form-submit"));
                form.submit();
                return false;
            });
            $(".required-field").prepend("<span style='color:red;'>* </div>");
        });
    </script>
    {% block extra_script %}{% endblock %}
{% endblock %}
